<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            * {
                margin: 0px;
                padding: 0px;
            }
        </style>
    </head>
    <body>
        <div>
            <form action="/institution/index" method="GET">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Indice</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Natureza</th>
                            <th scope="col">Nome do responsável pela instituição</th>
                            <th scope="col">Nome do responsavel pela área social</th>
                            <th scope="col">Telofone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Área de cobertura</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">UF</th>
                            <th scope="col">Cidade</th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <div class="form-group">
                                    #
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="indice" 
                                    value="<?= isset($_POST['indice']) ? $_POST['indice'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" 
                                    value="<?= isset($_POST['name']) ? $_POST['name'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="category" 
                                    value="<?= isset($_POST['category']) ? $_POST['category'] : '' ?>" />
                                </div>
                            </th>
                                <th scope="col">
                                    <div class="form-group">
                                    <input type="text" class="form-control" name="nature" 
                                    value="<?= isset($_POST['nature']) ? $_POST['nature'] : '' ?>" />
                                </div>
                            </th>
                                <th scope="col">
                                    <div class="form-group">
                                    <input type="text" class="form-control" name="name_of_responsible_of_institution" 
                                    value="<?= isset($_POST['name_of_responsible_of_institution']) ? $_POST['name_of_responsible_of_institution'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name_of_responsible_of_social_area" 
                                    value="<?= isset($_POST['name_of_responsible_of_social_area']) ? $_POST['name_of_responsible_of_social_area'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" 
                                    value="<?= isset($_POST['phone']) ? $_POST['phone'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" 
                                    value="<?= isset($_POST['email']) ? $_POST['email'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="coverage_area" 
                                    value="<?= isset($_POST['coverage_area']) ? $_POST['coverage_area'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="address" 
                                    value="<?= isset($_POST['address']) ? $_POST['address'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="uf" 
                                    value="<?= isset($_POST['uf']) ? $_POST['uf'] : '' ?>" />
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="city" 
                                    value="<?= isset($_POST['city']) ? $_POST['city'] : '' ?>" />
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->institution->list as $i => $item): ?>
                            <tr>
                                <td scope="row"><?= $i ?></td>
                                <td><?= $item->indice ?></td>
                                <td><?= $item->name ?></td>
                                <td><?= $item->category ?></td>
                                <td><?= $item->nature ?></td>
                                <td><?= $item->name_of_responsible_of_institution ?></td>
                                <td><?= $item->name_of_responsible_of_social_area ?></td>
                                <td><?= $item->phone ?></td>
                                <td><?= $item->email ?></td>
                                <td><?= $item->coverage_area ?></td>
                                <td><?= $item->address ?></td>
                                <td><?= $item->uf ?></td>
                                <td><?= $item->city ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <input type="submit" style="display: none;" >
            </form>
        </div>
    </body>
</html>